.v-form {
    border-radius: 15px !important;
    color: #35353a !important;
}

.v-form::placeholder {
    color: #737375 !important;
}

.vue-tel-input {
    border: none !important;
}

.vti__input {
    border-radius: 0 15px 15px 0 !important;
}

.vti__dropdown {
    border-radius: 15px 0 0 15px !important;
    background: #fff;
    color: #35353a;
}

.v3dp__popout {
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 10px 10px 14px -6px rgba(71, 23, 23, 0.75) !important;
    -moz-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.75) !important;
    border-radius: 10px !important;
    width: 100% !important;
    bottom: -30px !important;
    /* background: #F0AB54 !important; */
    /* color: #fff; */
}

.form-mentoring,
textarea {
    padding:5px 15px;
    border:2px solid #dedede;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.form-mentoring::placeholder,
textarea::placeholder {
    color:rgb(206, 206, 206)
}

.form-mentoring:focus,
textarea:focus {
    outline: none;
    border:2px solid #EFA859;
    box-shadow: 0;
}

.btn-mentoring {
    padding: 7px 20px;
    border-radius: 20px;
}

.btn-small {
    font-size: 12px;
}

.btn-type-1 {
    background: #EFA859;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.btn-type-1:hover {
    background: #223872;
    color: #EFA859;
    outline: 1px solid #EFA859;
}

.btn-type-2 {
    background: #fff;
    color: #EFA859;
    outline: 1px solid #EFA859;
    transition: all 0.2s ease-in-out;
}

.btn-type-2:hover {
    background: #EFA859;
    color: #223872;
    outline: 1px solid #223872;
}