.btn {
    box-shadow: none !important;
}

.v-form {
    border-radius: 15px !important;
    color: #35353a !important;
}

.v-form::placeholder {
    color: #737375 !important;
}

.vue-tel-input {
    border: none !important;
}

.vti__input {
    border-radius: 0 15px 15px 0 !important;
}

.vti__dropdown {
    border-radius: 15px 0 0 15px !important;
    background: #fff;
    color: #35353a;
}

.v3dp__popout {
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 10px 10px 14px -6px rgba(71, 23, 23, 0.75) !important;
    -moz-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.75) !important;
    border-radius: 10px !important;
    width: 100% !important;
    bottom: -30px !important;
    /* background: #F0AB54 !important; */
    /* color: #fff; */
}

.multiselect {
    margin-top: 1px !important;
}

.multiselect__placeholder {
    color: #000 !important;
    margin-top:-1px !important;
    padding-left: 5px !important;
    margin-bottom: 8px !important;
    font-size: 1em;
}

.multiselect__tags {
    border: 2px solid #dedede !important;
    border-radius: 15px !important;
    font-size: .9.5em !important;
    min-height: 10px !important;
    display: block;
    padding: 5px 40px 0 8px !important;
    background: transparent !important;
}

.multiselect__input {
    background: transparent !important;
}

.multiselect__single {
    font-size: .9.5em !important;
    padding-top: 3px !important;
    font-size: 1em !important;
    background: transparent !important;
}

.form-mentoring,
textarea {
    padding: 7px 15px;
    border: 2px solid #dedede;
    border-radius: 15px;
    font-size: .875rem;
    transition: all 0.3s ease-in-out;
}

.form-mentoring:disabled, .form-mentoring[readonly] {
    background: rgb(238, 238, 238);
    color: #374875;
}

.form-mentoring::placeholder,
textarea::placeholder {
    color: rgb(206, 206, 206)
}

.form-mentoring:focus,
textarea:focus {
    outline: none;
    border: 2px solid #EFA859;
    box-shadow: 0;
}

.btn-mentoring {
    padding: 7px 20px;
    border-radius: 20px;
}

.btn-small {
    font-size: 12px;
}

.btn-type-1 {
    background: #EFA859;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.btn-type-1:hover {
    background: #223872;
    color: #EFA859;
    outline: 1px solid #EFA859;
}

.btn-type-2 {
    background: #fff;
    color: #EFA859;
    outline: 1px solid #EFA859;
    transition: all 0.2s ease-in-out;
}

.btn-type-2:hover {
    background: #EFA859;
    color: #223872;
    outline: 1px solid #223872;
}

.btn-type-3 {
    background: #223872;
    color: #fff;
    outline: 1px solid #223872;
    transition: all 0.2s ease-in-out;
}

.btn-danger, .btn-success, .btn-info, .btn-warning, .btn-outline-success, .btn-outline-danger {
    box-shadow: none !important;
}

input::placeholder,
textarea::placeholder {
    color: transparent !important;
}


input-group {
    position: relative;
}

input-group label {
    position: absolute;
    top: 10px;
    left: 17px;
    color: rgb(47, 47, 47);
    font-size: 0.8em;
    transition: all 0.4s;
    z-index: 1;
    cursor: text;
    white-space: nowrap;
}

input-group span {
    position: absolute;
    z-index: 3;
    font-size: 0.7em;
    left: 15px;
    margin-top: 5px;
    padding: 0 5px;
}

input-group input:not(:placeholder-shown),
input-group textarea:not(:placeholder-shown) {
border: 2px solid #EFA859;
}


input-group input:not(:placeholder-shown)+label,
input-group textarea:not(:placeholder-shown)+label {
    top: -10px;
    left:12px;
    background: #fff;
    padding: 0 4px;
    z-index: 3;
    color: #EFA859;
}

.form-control {
    box-shadow: none !important;
    outline: none !important;
}