.btn {
    box-shadow: none !important;
}

.v-form {
    border-radius: 15px !important;
    color: #35353a !important;
}

.v-form::placeholder {
    color: #737375 !important;
}

.vue-tel-input {
    border: none !important;
}

.vti__input {
    border-radius: 0 15px 15px 0 !important;
}

.vti__dropdown {
    border-radius: 15px 0 0 15px !important;
    background: #fff;
    color: #35353a;
}

.v3dp__popout {
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 10px 10px 14px -6px rgba(71, 23, 23, 0.75) !important;
    -moz-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.75) !important;
    border-radius: 10px !important;
    width: 100% !important;
    bottom: -30px !important;
    /* background: #F0AB54 !important; */
    /* color: #fff; */
}

.multiselect__placeholder {
    color: #000 !important;
}

.multiselect__tags  {
    border:2px solid #dedede !important;
    border-radius: 15px !important;
    font-size: .875rem !important;
    min-height: 10px !important;
    display: block;
    padding: 5px 40px 0 8px !important;
    background: transparent !important;
}

.multiselect__input {
    background: transparent !important;
}

.multiselect__single {
    font-size: .875rem !important;
    padding-top: 3px !important;
    background: transparent !important;
}

.form-mentoring,
textarea {
    padding:7px 15px;
    border:2px solid #dedede;
    border-radius: 15px;
    font-size: .875rem;
    transition: all 0.3s ease-in-out;
}

.form-mentoring:disabled, .form-mentoring[readonly]{
    background: rgb(238, 238, 238);
    color: #374875;
}

.form-mentoring::placeholder,
textarea::placeholder {
    color:rgb(206, 206, 206)
}

.form-mentoring:focus,
textarea:focus {
    outline: none;
    border:2px solid #EFA859;
    box-shadow: 0;
}

.btn-mentoring {
    padding: 7px 20px;
    border-radius: 20px;
}

.btn-small {
    font-size: 12px;
}

.btn-type-1 {
    background: #EFA859;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.btn-type-1:hover {
    background: #223872;
    color: #EFA859;
    outline: 1px solid #EFA859;
}

.btn-type-2 {
    background: #fff;
    color: #EFA859;
    outline: 1px solid #EFA859;
    transition: all 0.2s ease-in-out;
}

.btn-type-2:hover {
    background: #EFA859;
    color: #223872;
    outline: 1px solid #223872;
}

.btn-type-3 {
    background: #223872;
    color: #fff;
    outline: 1px solid #223872;
    transition: all 0.2s ease-in-out;
}

.btn-danger, .btn-success, .btn-info, .btn-warning, .btn-outline-success, .btn-outline-danger {
    box-shadow: none !important;
}


input-group {
  position: relative;
}

input-group input,
input-group textarea
 {
  position: relative;
  background: transparent !important;
  margin-top: 15px;
  z-index: 2;
}

input-group label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(47, 47, 47);
  transform: translate(15px, 2px);
  font-size: 0.7em;
  transition: all 0.4s;
  z-index: 1;
}

input-group span {
    position: absolute;
    z-index: 3;
    font-size: 0.7em;
    left: 15px;
    margin-top: 5px;
    padding: 0 5px;
}

input-group input:focus + label,
input-group input:valid + label {
  color: #000;
  transform: translate(10px, -16px);
  background: #fff;
  padding: 0 4px;
  z-index: 3;
}