.vue-modal {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* text-align: center; */
    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    z-index: 999;
    transform: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.vue-modal-lg {
    width: 50%;
}

.vue-modal-md {
    width: 35%;
}

.vue-modal-sm {
    width: 25%;
}

.vue-modal h1 {
    margin: 0 0 1rem;
}

.vue-modal-overlay {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.6;
    cursor: pointer;
}

.vue-modal-logo {
    width: 10em;
}

@media only screen and (max-width: 600px) {

    .vue-modal-lg,
    .vue-modal-md,
    .vue-modal-sm {
        width: 95%;
    }
}