.page-item:first-child .page-link,
.page-item:last-child .page-link,
.page-item:not(:first-child) .page-link {
    border-radius: 5px;
    margin: 0 1px;
    padding: 2px 10px !important;
    color: #EFA859;
}

.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus,
.page-item:not(:first-child) .page-link:focus {
    background: #EFA859;
    color: #fff;
    box-shadow: none !important;
}